.newExpenseControls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.newExpenseControls label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.newExpenseControls input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 15rem;
  max-width: 100%;
}

.newExpenseActions {
  text-align: right;
}

.newExpenseControls.invalidTitleInput input {
  background: coral;
  border-color: crimson;
}

.newExpenseControls.invalidTitleInput label {
  color: red;
}

.newExpenseControls.invalidAmountInput input {
  background: coral;
  border-color: crimson;
}

.newExpenseControls.invalidAmountInput label {
  color: red;
}

.newExpenseControls.invalidDateInput input {
  background: coral;
  border-color: crimson;
}

.newExpenseControls.invalidDateInput label {
  color: red;
}

@media (min-width:768px){
  .button{
    width:auto;
  }
}
